{% block content %}
<div id="myGISTaskModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Data</h4>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('gis_task.insert_gis_task_data') }}" method="post">
                    <div class="form-group">
                        <label>Select Activity <span style="color: red;">*</span></label>
                        <select class="form-control form-select" name="activity_id" required>
                          {% for data in gis_activity_data %}
                            <option value="{{ data.id }}" {% if loop.index == 1 %}selected{% endif %}>
                              {{ data.activity }}
                            </option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Task Description <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" name="description" required>
                    </div>
                    <div class="form-group">
                        <label>Status <span style="color: red;">*</span></label>
                        <select class="form-control form-select" name="status" required>
                            <option value="Complete">Completed</option>
                            <option value="In Progress">In Progress</option>
                            <option value="Overdue">Overdue</option>
                            <option value="Not Started">Not Started</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Percentage Done</label>
                        <input type="number" class="form-control" name="percentage_of_activity">
                    </div>
                    <div class="form-group">
                        <label>Link</label>
                        <input type="link" class="form-control" name="link">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary left-aligned-button" style="float: left;" type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}