{% block content %}
<div id="myGISActivityModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Data</h4>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('gis_activity.insert_gis_activity_data') }}" method="post">
                    <div class="form-group">
                        <label>Activity Name <span style="color: red;">*</span></label>
                        <input type="text" class="form-control" name="activity" required>
                    </div>
                    <div class="form-group">
                        <label>Select Output <span style="color: red;">*</span></label>
                        <select class="form-control form-select" name="output_id" required>
                          {% for data in gis_output_data %}
                            <option value="{{ data.id }}" {% if loop.index == 1 %}selected{% endif %}>
                              {{ data.name }}
                            </option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Select Responsible Person <span style="color: red;">*</span></label>
                        <select class="form-control form-select" name="responsible_person_id" required>
                          {% for data in gis_responsible_person_data %}
                            <option value="{{ data.id }}" {% if loop.index == 1 %}selected{% endif %}>
                              {{ data.name }}
                            </option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary left-aligned-button" style="float: left;" type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}