{% extends 'index.html' %}

{% block content %}
<p class="card-text date">{{ today_date }}</p>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div class="alert-container">
    {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% endfor %}
    </div>
{% endif %}
{% endwith %}
<div class="stats_data_container">
  <div class="row">
      <div class="col md-12">
          <div class="jumbotron data_container p-3">
              <h2 class="left-aligned-text">Daily Tasks Recorded Weekly
                  <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#myDailyTasksModal">Add New Data</button>
              </h2>
              <div class="table-responsive">
                  <table id="tasks_data_table" class="table table-hover table-bordered table-striped">
                      <thead>
                          <tr class="table-dark">
                              <th>Date</th>
                              <th>Task</th>
                              <th>Number Done</th>
                              <th>Responsible Person</th>
                              <th>Section</th>
                              <th>Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for data in all_tasks_data %}
                          <tr class="table-light">
                            <td>{{ data.week_ending or ''}}</td>
                            <td>{{ data.task or '' }}</td>
                            <td>{{ data.number_done or '' }}</td>
                            <td>{{ data.responsible_person or '' }}</td>
                            <td>{{ data.section or '' }}</td>
                            <td>
                              <a href="{{ url_for('daily_tasks.update_daily_task', daily_task_id=data.id) }}" class="btn btn-info btn-xs update-btn" data-toggle="modal" data-target="#updateDailyTaskModal{{ data.id }}">Edit</a>
                              <a href="{{ url_for('daily_tasks.delete_daily_task', daily_task_id=data.id) }}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
                            </td>
                            {% include 'add_daily_task_modal.html' %}
                            {% include 'update_daily_task_modal.html' %}
                          </tr>
                        {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>  
  </div>
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
<script>
    $(document).ready(function() {
        $('#tasks_data_table').DataTable({
            "fixedHeader": true,  // Keeps header fixed when scrolling horizontally
            // "paging": true, // Disable pagination for inline editing
            // "ordering": false, // Disable sorting for inline editing
            // "info": false, // Disable info display for inline editing
            // "scrollY": '50vh', // Set a fixed height for vertical scrolling
            // "scrollCollapse": true, // Enable scrolling
            "scrollX": true,      // Enables horizontal scrolling
            "autoWidth": false,   // Disables automatic column width calculation
            "order": [[0, 'desc']],  // Sort the first column (date) in descending order (latest first)
            "columnDefs": [
                {
                    "targets": 0,  // Assuming the first column is the date column
                    "type": "date"  // Specifies that the column contains date values
                }
            ]
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        function getLastFriday() {
            let today = new Date();
            let dayOfWeek = today.getDay(); // 0 (Sunday) to 6 (Saturday)
            let daysUntilFriday = (dayOfWeek >= 5) ? (dayOfWeek - 5) : (dayOfWeek + 2); 
            let lastFriday = new Date(today);
            lastFriday.setDate(today.getDate() - daysUntilFriday);
            return lastFriday.toISOString().split("T")[0]; // Format as YYYY-MM-DD
        }
    
        document.getElementById("week_ending").value = getLastFriday();
    });
</script>
{% endblock%}