<footer>
  <ul class="nav justify-content-center">
    {% if current_user.is_authenticated %}
      <li class="nav-item"><a href="/home" class="nav-link px-2">Home</a></li>
      <li class="nav-item"><span class="nav-link px-2">&nbsp;</span></li> <!-- Blank space here -->
      <li class="nav-item"><a href="#" class="nav-link px-2">Back to Top</a></li>
    {% else %}
      <li class="nav-item"><span class="nav-link px-2">&nbsp;</span></li> <!-- Blank space here -->
    {% endif %}
  </ul>
  <p class="vision text-center">Bulawayo City of Kings, A leading smart transformative City by 2025</p>
  <div class="contact_info">
    <div>
      <p class="copyright">Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved.</p>
    </div>
  </div>
  </footer>