{% extends 'index.html' %}

{% block content %}
<div class="main_container">
  <div class="main-heading">
    <h1>City of Bulawayo Water and Sanitation Department</h1>
    <h2>Projects Dashboard</h2>
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      <div class="alert-container">
      {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
      {% endfor %}
      </div>
  {% endif %}
  {% endwith %}
  <p class="card-text date">{{ today_date }}</p>
  <div class="about_container">
    <p class="main_paragraph">
        Welcome to the <strong>BCC Water and Sanitation Department Projects Dashboard</strong> your go-to platform for tracking the progress, performance, and health of all ongoing projects. 
        Whether you're managing timelines, monitoring budgets, or keeping an eye on daily tasks, this dashboard puts all the information you need at your fingertips.
    </p>

    <h3><i class="fas fa-file-contract"></i> Contract Details</h3>
    <p class="sub_paragraph">
        Get a clear picture of each project's foundation. This section breaks down the essentials: project name, contract number, contract value, and current status. 
        It's your starting point for understanding the scope and progress of every initiative.
    </p>

    <h3><i class="fas fa-calendar-alt"></i> Management and Timeline</h3>
    <p class="sub_paragraph">
        Stay on top of deadlines and responsibilities. Track key milestones like contract signing dates, early start and finish dates, and any approved extensions. 
    </p>

    <h3><i class="fas fa-chart-line"></i> Financial Snapshot</h3>
    <p class="sub_paragraph">
        Keep your projects financially on track. This section gives you a clear view of contract values, contingency buffers, and payment guarantees, including their expiry dates. 
        You can also track certified interim payments to ensure spending aligns with project goals.
    </p>

    <h3><i class="fas fa-tasks"></i> Progress Tracking</h3>
    <p class="sub_paragraph">
        Measure success with precision. Compare financial progress against physical completion percentages to ensure resources are being used effectively and milestones are being met on time.
    </p>

    <h3><i class="fas fa-clipboard-check"></i> Project Status</h3>
    <p class="sub_paragraph">
        Quickly check the status of each project, whether it's ongoing, completed, or on hold and take action to address any roadblocks before they become bigger issues.
    </p>

    <h3><i class="fas fa-clipboard-list"></i> Daily Tasks</h3>
    <p class="sub_paragraph">
        Keep your team on track with a clear view of daily tasks. This section highlights what's been accomplished each week, who's responsible, and which section is handling the work. 
        It's the perfect way to ensure nothing falls through the cracks and everyone stays aligned.
    </p>
  </div>
  <div class="stats_data_container">
    <h2>Summary of Projects Progress Data</h2>
    <div class="table-responsive">
        <table id="home_table" class="table table-hover table-bordered table-striped">
          <thead>
            <tr class="table-dark">
                <th>Contract Number</th>
                <th>Contract Name</th>
                <th>Project Manager</th>
                <th>Contractor</th>
                <th>Year</th>
                <th>Status</th>
                <th>Early Start Date</th>
                <th>Contract Duration (Months)</th>
                <th>Early Finish Date</th>
                <th>Extension of Time</th>
                <th>Physical Progress</th>
                <th>Financial Progress</th>
            </tr>
          </thead>

          <tbody>
            {% for data in projects_data %}
            <tr class="table-light">
                <td>{{ data.contract_number or '' }}</td>
                <td>{{ data.contract_name or '' }}</td>
                <td>{{ data.project_manager or '' }}</td>
                <td>{{ data.contractor or ''}}</td>
                <td>{{ data.year or '' }} </td>
                <td>{{ data.project_status or ''}}</td>
                <td>{{ data.early_start_date or ''}}</td>
                <td>{{ data.contract_duration_months or '' }}</td>
                <td>{{ data.early_finish_date or ''}}</td>
                <td>{{ data.extension_of_time or ''}}</td>
                <td>{{ data.physical_progress_percentage or ''  }}</td>
                <td>{{ data.financial_progress_percentage or ''}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
  <div class="charts-container">
    <div class="alert alert-info mt-5 mb-1" role="alert">
      <strong>Physical Progress of Projects:</strong> Only projects with measurable and trackable physical progress are shown in this section. This data represents the on-ground progress in terms of construction, installation, and other physical activities.
    </div>
    <div id="graph-container1" class="graph-container"></div>
    <div class="alert alert-warning mt-5 mb-1" role="alert">
      <strong>Financial Progress of Projects:</strong> This section provides insights into the financial milestones of projects with trackable financial progress, highlighting expenditure, payments, and overall financial tracking based on project budgets.
    </div>
    <div id="graph-container2" class="graph-container"></div>
    <div class="alert alert-success mt-5 mb-1" role="alert">
      <strong>Section-Wise Project Progress:</strong> 
      This section displays the overall progress of projects grouped by section. It shows the total progress percentage for each project, regardless of whether it has physical or financial progress data.
    </div>
    <div class="charts-container">
      {% for chart_data in graph6JSON %}
          <div id="section_graph-container{{ loop.index }}" class="graph-container"></div>
      {% endfor %}
    </div>
    <div class="alert alert-primary mt-5 mb-1" role="alert">
      <strong>Project Distribution Overview:</strong> 
      This section provides insights into the distribution of projects by year, by project manager, and by project status. It highlights how projects are allocated over time, managed by different team leaders, and classified based on their current status.
    </div>
    <div class="pie_container">
      <div id="graph-container3" class="graph-container"></div>
      <div id="graph-container5" class="graph-container"></div>
    </div>
    <div id="graph-container4" class="graph-container"></div>
  </div>
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
<script>
$(document).ready(function() {
    $('#home_table').DataTable({
      "fixedHeader": true, // Keeps header fixed when scrolling horizontally
        // "paging": true, // Disable pagination for inline editing
        // "ordering": false, // Disable sorting for inline editing
        // "info": false, // Disable info display for inline editing
        // "scrollY": '50vh', // Set a fixed height for vertical scrolling
        // "scrollCollapse": true, // Enable scrolling
        "scrollX": true, // Enable horizontal scrolling
        "autoWidth": false // Disable automatic column width calculation
    });
});
</script>
<script>
      // Load bar plots
      var graph1Data = {{ graph1JSON | safe }};
      Plotly.newPlot('graph-container1', graph1Data, { responsive: true });

      var graph2Data = {{ graph2JSON | safe }};
      Plotly.newPlot('graph-container2', graph2Data, { responsive: true });

      // Load bar plots for each section
      var sectionData = {{ graph6JSON | safe }};
      sectionData.forEach(function(data, index) {
          var divId = 'section_graph-container' + (index + 1);
          var div = document.getElementById(divId);
          Plotly.newPlot(div, JSON.parse(data));
      });

      // Load Pie Chart
      var graph3Data = {{ graph3JSON | safe }};
      Plotly.newPlot('graph-container3', graph3Data, { responsive: true });

      // Load Tree Chart
      var graph4Data = {{ graph4JSON | safe }};
      Plotly.newPlot('graph-container4', graph4Data, { responsive: true });

      // Load Sunburst Chart
      var graph5Data = {{ graph5JSON | safe }};
      Plotly.newPlot('graph-container5', graph5Data, { responsive: true });

      function updateChartSize() {
      const graphContainers = document.querySelectorAll('.graph-container');

      for (const container of graphContainers) {
        const chartId = container.id; // Get the chart container ID
        const chart = document.getElementById(chartId); // Find the chart element
      
        // Set chart width to occupy full width of the container
        const containerWidth = container.clientWidth;
        Plotly.relayout(chart, { width: containerWidth });
      }
  }

  // Initial call to set correct width on page load
  updateChartSize();

  window.addEventListener('resize', updateChartSize);

</script>
{% endblock%}