{% extends "index.html" %}

{% block content %}
<div class="landing_container">
  <div class="landing-heading">
    <h1>City of Bulawayo<br> Water and Sanitation Department</h1>
    <h2>Projects Dashboard</h2>
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      <div class="alert-container">
      {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
      {% endfor %}
      </div>
  {% endif %}
  {% endwith %}
  <div class="landing_flex">
    <div class="about_container">
      <p class="main_paragraph">
          Welcome to the BCC Projects Dashboard a powerful platform designed to provide you with a clear overview of all ongoing projects. 
          Whether you are managing multiple contracts or overseeing daily tasks, our dashboard simplifies tracking and helps you make informed decisions effortlessly.
      </p>
  
      <h3>Centralised Contract Overview</h3>
      <p class="sub_paragraph">
          Access all essential project details from contract name and number to the overall project value and current status. 
          The Contract Overview section ensures that you stay on top of every project's vital information in one place.
      </p>
  
      <h3>Efficient Project Management & Timeline Tracking</h3>
      <p class="sub_paragraph">
          Quickly identify the project manager for each contract and monitor crucial project timelines such as start dates, completion deadlines, and any extensions.
      </p>
  
      <h3>Financial Health at a Glance</h3>
      <p class="sub_paragraph">
          Keep your projects financially on track by easily tracking the contract value, contingency funds, performance guarantees, and payments made. 
          Our dashboard gives you instant visibility into financial metrics, allowing you to spot trends and adjust budgets with confidence.
      </p>
  
      <h3>Stay Updated on Project Status</h3>
      <p class="sub_paragraph">
          Easily see the current status of all projects whether they're ongoing, completed, or on hold. This feature allows you to quickly identify any potential delays or issues, 
          enabling you to take proactive action when needed.
      </p>
  
      <h3>Task Management for Daily Operations</h3>
      <p class="sub_paragraph">
        The Daily Tasks section provides a clear view of what's been accomplished each week,
        who's responsible, and which section is handling the work.
      </p>
    </div>
    <div class="login_container">
      <h1 class="login-title">Login to Access the BCC Projects Dashboard</h1>
      
      <div class="form_container_div">
        <form method="POST" action="" class="form-container">
          {{ form.hidden_tag() }}
          <div>
            <label for="{{ form.username.id }}">Username:</label>
            {{ form.username(class="form-input") }}
          </div>
          <div>
            <label for="{{ form.password.id }}">Password:</label>
            {{ form.password(class="form-input") }}
          </div>
          <div>
            {{ form.submit(class="form-submit btn btn-secondary") }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}