{% extends 'index.html' %}

{% block content %}
<div class="stats-container services">
    <h1>Services Projects</h1>
</div>
<p class="card-text date">{{ today_date }}</p>
<div class="stats_data_container">
    <h2>Summary of Services Projects Progress Data</h2>
    <div class="table-responsive">
        <table id="services_table" class="table table-hover table-bordered table-striped">
            <thead>
            <tr class="table-dark">
                <th>Contract Number</th>
                <th>Contract Name</th>
                <th>Project Manager</th>
                <th>Contractor</th>
                <th>Year</th>
                <th>Status</th>
                <th>Early Start Date</th>
                <th>Contract Duration (Months)</th>
                <th>Early Finish Date</th>
                <th>Extension of Time</th>
                <th>Physical Progress</th>
                <th>Financial Progress</th>
            </tr>
            </thead>

            <tbody>
            {% for services_data in projects_data %}
            <tr class="table-light">
                <td>{{ services_data.contract_number or '' }}</td>
                <td>{{ services_data.contract_name or '' }}</td>
                <td>{{ services_data.project_manager or '' }}</td>
                <td>{{ services_data.contractor or '' }}</td>
                <td>{{ services_data.year or '' }}</td>
                <td>{{ services_data.project_status or '' }}</td>
                <td>{{ services_data.early_start_date or '' }}</td>
                <td>{{ services_data.contract_duration_months or '' }}</td>
                <td>{{ services_data.early_finish_date or '' }}</td>
                <td>{{ services_data.extension_of_time or '' }}</td>
                <td>{{ services_data.physical_progress_percentage or '' }}</td>
                <td>{{ services_data.financial_progress_percentage or '' }}</td>
            {% endfor %}
            </tr>
        </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
<script>
  $(document).ready(function() {
      $('#services_table').DataTable({
          // "paging": true, // Disable pagination for inline editing
          // "ordering": false, // Disable sorting for inline editing
          // "info": false, // Disable info display for inline editing
          // "scrollY": '50vh', // Set a fixed height for vertical scrolling
          // "scrollCollapse": true, // Enable scrolling
          // "scrollX": true, // Enable horizontal scrolling
          // "autoWidth": false // Disable automatic column width calculation
      });
  });
</script>
{% endblock%}