{% block content %}
<!-- Update Daily Task Modal -->
<div class="modal fade" id="updateDailyTaskModal{{ data.id }}" tabindex="-1" role="dialog" aria-labelledby="updateDailyTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateDailyTaskModalLabel">Edit Data</h5>
        </div>
        <div class="modal-body">
          <form action="{{ url_for('daily_tasks.update_daily_task', daily_task_id=data.id) }}" method="post">
            <div class="form-group">
              <label>Task <span style="color: red;">*</span></label>
              <input type="text" class="form-control" name="task" value="{{data.task}}" required>
            </div>
            <div class="form-group">
                <label>Number Done <span style="color: red;">*</span></label>
                <input type="number" class="form-control" name="number_done" value="{{data.number_done}}" required>
            </div>
            <div class="form-group">
              <label>Week Ending (Friday) <span style="color: red;">*</span></label>
              <select class="form-control" name="week_ending" required>
                {% for date in existing_fridays %}
                    <option value="{{ date }}" {% if date == latest_friday %}selected{% endif %}>
                        {{ date.strftime('%d %b %Y') }}
                    </option>
                {% endfor %}
              </select>          
            </div>
            <div class="form-group">
                <label>Responsible Person <span style="color: red;">*</span></label>
                <input type="text" class="form-control" name="responsible_person" value="{{data.responsible_person}}" required>
            </div>
            <div class="form-group">
                <label>Section <span style="color: red;">*</span></label>
                <input type="text" class="form-control" name="section" value="{{data.section}}" required>
            </div>
            <div class="form-group">
                <button class="btn btn-primary left-aligned-button" style="float: left;" type="submit">Submit</button>
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
{% endblock %}