{% extends 'index.html' %}

{% block content %}
<div class="stats-container water_quality">
    <h1 class="water_quality_h1">Water Quality Section Projects</h1>
</div>
<p class="card-text date">{{ today_date }}</p>
<div class="stats_data_container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron data_container p-3">
                <h2> Water Quality Section Projects Data </h2>
                <div class="table-responsive">
                    <table id="water_quality_projects_table" class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr class="table-dark">
                                <th>Contract Number</th>
                                <th>Contract Name</th>
                                <th>Contract Type</th>
                                <th>Project Manager</th>
                                <th>Contractor</th>
                                <th>Year</th>
                                <th>Date Contract Signed</th>
                                <th>Date Contract Signed By BCC</th>
                                <th>Early Start Date</th>
                                <th>Contract Duration (Weeks)</th>
                                <th>Contract Duration (Months)</th>
                                <th>Early Finish Date</th>
                                <th>Extension of Time</th>
                                <th>Status</th>
                                <th>Contract Value Including 10% Contigency</th>
                                <th>Perfomance Guarantee Value</th>
                                <th>Perfomance Guarantee Expiry Date</th>
                                <th>Advance Payment Value</th>
                                <th>Advance Payment Guarantee Expiry Date</th>
                                <th>Total Certified Interim Payments To Date</th>
                                <th>Financial Progress (%)</th>
                                <th>Physical Progress (%)</th>
                                <th>Tax Clearance Validation</th>
                                <th>Link</th>
                            </tr>
                        </thead>

                        <tbody>
                        {% for project_data in water_quality_projects_data %}
                            <tr class="{% if project_data.project_status == 'Completed' %}table-success 
                            {%elif project_data.project_status == 'In Progress' %}table-info
                            {%elif project_data.project_status == 'Stopped' %}table-danger
                            {% else %}table-warning{% endif %}">
                                <td>{{ project_data.contract_number or '' }}</td>
                                <td>{{ project_data.contract_name or '' }}</td>
                                <td>{{ project_data.contract_type or '' }}</td>
                                <td>{{ project_data.project_manager or ''}}</td>
                                <td>{{ project_data.contractor or '' }}</td>
                                <td>{{ project_data.year or '' }}</td>
                                <td>{{ project_data.date_contract_signed or '' }}</td>
                                <td>{{ project_data.date_contract_signed_by_bcc or '' }}</td>
                                <td>{{ project_data.early_start_date or '' }}</td>
                                <td>{{ project_data.contract_duration_weeks or '' }}</td>
                                <td>{{ project_data.contract_duration_months or '' }}</td>
                                <td>{{ project_data.early_finish_date or '' }}</td>
                                <td>{{ project_data.extension_of_time or '' }}</td>
                                <td>{{ project_data.project_status or '' }}</td>
                                <td>{{ project_data.contract_value_including_ten_percent_contingency or '' }}</td>
                                <td>{{ project_data.performance_guarantee_value or '' }}</td>
                                <td>{{ project_data.performance_guarantee_expiry_date or '' }}</td>
                                <td>{{ project_data.advance_payment_value or '' }}</td>
                                <td>{{ project_data.advance_payment_guarantee_expiry_date or ''}}</td>
                                <td>{{ project_data.total_certified_interim_payments_to_date or '' }}</td>
                                <td>{{ project_data.financial_progress_percentage if project_data.financial_progress_percentage is not none else '' }}</td>
                                <td>{{ project_data.physical_progress_percentage if project_data.physical_progress_percentage is not none else '' }}</td>
                                <td>{{ project_data.tax_clearance_validation or '' }}</td>
                                <td>
                                    {% if project_data.link %}
                                        <a href="{{ project_data.link }}" target="_blank">link</a>
                                    {% else %}
                                        {{ '' }}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div><div class="charts-container">
    {% for water_quality_data in water_quality_projects_charts_JSON %}
        <div id="water_quality_graph-container{{ loop.index }}" class="graph-container"></div>
    {% endfor %}
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
<script>
    // Load water quality tasks charts
    var waterQualityData = {{ water_quality_projects_charts_JSON | safe }};
    waterQualityData.forEach(function(data, index) {
        var divId = 'water_quality_graph-container' + (index + 1);
        var div = document.getElementById(divId);
        Plotly.newPlot(div, JSON.parse(data));
    });

    // Adjust chart sizes on resize
    function updateChartSize() {
        const graphContainers = document.querySelectorAll('.graph-container');
        for (const container of graphContainers) {
            const chartId = container.id;
            const chart = document.getElementById(chartId);
            const containerWidth = container.clientWidth;
            Plotly.relayout(chart, { width: containerWidth });
        }
    }

    // Initial call to set width on page load
    updateChartSize();

    // Re-adjust size when window is resized
    window.addEventListener('resize', updateChartSize);
</script>
<script>
    $(document).ready(function() {
        $('#water_quality_projects_table').DataTable({
            "fixedHeader": true // Keeps header fixed when scrolling horizontally
            // "paging": true, // Disable pagination for inline editing
            // "ordering": false, // Disable sorting for inline editing
            // "info": false, // Disable info display for inline editing
            // "scrollY": '50vh', // Set a fixed height for vertical scrolling
            // "scrollCollapse": true, // Enable scrolling
            // "scrollX": true, // Enable horizontal scrolling
            // "autoWidth": false // Disable automatic column width calculation
        });
    });
</script>
{% endblock%}